<%= render "shared/header" %>
<div class="roin-main">
  <div class="roin-top">
    <div class="roin-title">
      asobiba一覧
    </div>
    <div class="roin-serch">
      <%= link_to "asobiba検索", search_rooms_path, class: "roin-serch-text" %>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= @page %>
      <label>件表示中</label>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to("3", room_list_rooms_path(per: 3)) %></li>
      <li><%= link_to("5", room_list_rooms_path(per: 5)) %></li>
      <li><%= link_to("10", room_list_rooms_path(per: 10)) %></li>
      <li><%= link_to("20", room_list_rooms_path(per: 20)) %></li>
    </ul>
  </div>
  <div class = "roin-rooms">
    <% @rooms.each do |room| %>
      <div class="roin-room">
        <div class="roin-room-header"><%= room.title%></div>
        <div class="roin-room-left">
          <div class="roin-facility">施設名</div>
          <div class="roin-event">種目名</div>
          <div class="roin-count">chat数</div>
        </div>
        <div class="roin-room-right">
          <div class="roin-facility"><%= room.facility.name%></div>
          <div class="roin-event"><%= room.event.name %></div>
          <div class="roin-count"><%= room.messages.count %>chat</div>
        </div>
        <% button_class = case room.id % 4
          when 0
            "bg-green"
          when 1
            "bg-red"
          when 2
            "bg-blue"
          when 3
            "bg-yellow"
          end
        %>
        <div class="roin-join">
          <%= link_to "参加<br>する".html_safe, room_messages_path(room), class: "roin-join-btn #{button_class}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class = "roin-page">
  <%= will_paginate @rooms, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: '&lt; 前へ', next_label: '次へ &gt;' %>
</div>
<%= render "shared/footer" %>