<%= render "shared/header" %>
<div class="roin-main">
  <div class="roin-top">
    <div class="roin-title">
      asobiba一覧
    </div>
    <%# <div class="roin-serch"> %>
      <%#<%= link_to "asobiba検索", search_facilities_path, class: "roin-serch-text" %>
    <%# </div> %>
  </div>
  <%= search_form_for @q, url: search_rooms_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :title_cont, 'asobiba名' %>
      <br>
      <%= f.search_field :title_cont, placeholder: 'asobiba名' %>
    </div>
    <div class="search-field">
      <%= f.label :facility_prefecture_id_eq, '都道府県' %>
      <br>
      <%= f.collection_select(:facility_prefecture_id_eq, Prefecture.options, :id, :name, {include_blank: "---", class:"rone-select-box", id:"item-shipping-fee-status"}) %>
    </div>
    <div class="search-field">
      <%= f.label :event_id_eq, '種目名' %>
      <br>
      <%= f.collection_select(:event_id_eq, Event.options, :id, :name, {include_blank: "---", class:"rone-select-box", id:"item-shipping-fee-status"}) %>
    </div>

    <%= f.submit '検索' %>
  <% end %>
  <div class = "roin-rooms">
    <% @rooms.each do |room| %>
      <div class="roin-room">
        <div class="roin-room-header"><%= room.title%></div>
        <div class="roin-room-left">
          <div class="roin-facility">施設名</div>
          <div class="roin-event">種目名</div>
          <div class="roin-count">chat数</div>
        </div>
        <div class="roin-room-right">
          <div class="roin-facility"><%= room.facility.name%></div>
          <div class="roin-event"><%= room.event.name %></div>
          <div class="roin-count"><%= room.messages.count %>chat</div>
        </div>
        <% button_class = case room.id % 4
          when 0
            "bg-green"
          when 1
            "bg-red"
          when 2
            "bg-blue"
          when 3
            "bg-yellow"
          end
        %>
        <div class="roin-join">
          <%= link_to "参加<br>する".html_safe, room_messages_path(room), class: "roin-join-btn #{button_class}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>